body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/*для макета сторінки */
.layout-container {
  display: flex;
  min-height: 100vh;
}

/* Бокове меню */
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

/* Навігаційний список */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Пункти меню */
.sidebar ul li {
  margin: 15px 0;
}

/* посилання */
.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s;
}

/* Ефект при наведенні */
.sidebar ul li a:hover {
  background-color: #34495e;
  transform: scale(1.05);
}

/* Основний контент */
.content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  background-color: #aa7878;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}

/* Навігаційний заголовок */
header nav {
  margin-bottom: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

/* Для мобільних пристроїв*/
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
  }

  header nav ul {
    display: flex;
    justify-content: space-around;
  }
}
